/* button {
    /* margin: 20px; */
    /* margin: 10px 0 8px 2px; */
    /* margin: 2px 8px; */
    /* padding: 20px; */
    /* padding: 10px 0 8px 2px; */

/* margin - clockwise  */

/* box model */

/* center - text */
/* padding - 1st layer */
/* border - 2nd layer */
/* margin - 3rd layer */


/* button {
    border: 1px solid #000;
    margin: 20px;
    padding: 4px 16px;
} */

/* span {
    border: 1px solid #000;
    margin: 20px;
    padding: 4px 16px;
} */

/* div {
    border: 1px solid #000;
    margin: 20px;
    padding: 4px 16px;
} */

/* section {
    border: 1px solid #000;
    margin: 20px;
    padding: 4px 16px;
} */

/* p {
    border: 1px solid #000;
    margin: 20px;
    padding: 4px 16px;
} */

/* Normalize.css */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 300px;
    border: 1px solid #000;
    padding: 20px;
    /* margin: 8px; */
/* } */
/* 
textarea {
    font-family: inherit;
} */ 

/* px, rem, em, vh, vw */
/* .paragraph {
    font-size: 20px;
} */

/* 1rem = 16px */
/* p {
    font-size: 24px;
}

.paragraph {
    font-size: 1.5em;
}

.paragraph span {
    font-size: 1.5em;
} */

/* .paragraph {
    font-size: 1.5rem;
}

.paragraph span {
    font-size: 1.5rem;
} */

/* .paragraph {
    font-size: calc(0.5rem + 1vw);
    height: 50vh;
    background-color: red;
} */

/* .paragraph {
    position: sticky;
} */

/* .box{
    width: 10rem;
    height: 10rem;
} */

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
     position: relative; 
    height: 100vh;
    background: red;

div .box1 {
    background: green;
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 0px; 
     right: 2px; 
     bottom: 10px; 
     inset: 1px; 
} */

/* div {
    height: 5rem;
    width: 5rem;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* button:focus{
    background: red;
} */

/* :nth-child() */

/* h1::before {
    content: "";
}

h1::after{
    content: "a";
} */

@media (max-width: 500px) {
    p {
        text-align: center;
        font-size: 0.5rem;
    }
    
}